
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.navbar {
  color: midnightblue;
  font-family: "Architects Daughter", sans-serif;
}

.translucent-nav {
  background: rgba(212, 235, 242, 0.75);
}

.navbar-brand {
  font-size: 35pt;
  text-decoration: none;
  color: midnightblue;
}

body {
  background-image: url("../images/hex.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  background-position: center;
  padding-top: 50px;
  font-family: 'Lato', sans-serif;
}

#menu {
font-size: 110%;
list-style-type: none;
letter-spacing: 4px; 

}

 .nav-link{
    text-align: right;
}

/* floating the list items here to ensure that they are appropriately ordered with the menu itself being floated right. This can flip the elements. */
#menu li {
  margin-right: 30px;
  float: left;
  color: midnightblue;
  
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  color: blueviolet;
}

.main-text {
  padding-top: 100px;
  /*padding-left: 150px; */
  font-size: 50pt;
  font-family: "Architects Daughter", sans-serif;
  padding-bottom: 70px;
  color: midnightblue;
}

.about-container {
  border: solid 1px black;
  border-radius: 3px;
  width: 75%;
}

.colour-pick-text {
  text-align: center;
  padding-top: 100px;
}

.main-image-container {
  padding-top: 0;
  width: 75%;
  height: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main-image {
  z-index: 1;
  display: block;
  width: 100%;
  height: auto;
}

.main-image-overlay {
  z-index: 999;
  position: absolute;
  bottom: inherit;
  width: 97.5%;
  height: auto;
  overflow: hidden;

}

.colour-dropbox {
  width: 25%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.form-container {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 50px;
}

#email-form {
  padding: 20px;
}

/*---------------------------------------------------- Icons */

.details-icon {
  font-size: 40pt;
  padding-top: 10px;
  padding-bottom: 10px;
  color: midnightblue;
}

.navbar-toggler-icon {
  color:#676767; 
  font-size: 28px;
}


/*---------------------------------------------------- Colours */

.azure-blue {
  filter: hue-rotate(180deg);
}

.passion-purple {
  filter: hue-rotate(280deg);
}

.blaze-red {
  filter: hue-rotate(0deg);
}

.jewel-green {
  filter: hue-rotate(120deg);
}

.vivid-pink {
  filter: hue-rotate(320deg);
}

.sunburnt-orange {
  filter: hue-rotate(20deg);
}

.calming-teal {
  filter: hue-rotate(150deg);
}

.default-hue {
  filter: grayscale(100%);
}

/* ---------------------------------------------------Dividers */

.block-divider {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  width: 20%;
  background-color: #777777;
}

.block-divider-white {
  background-color: #fff;
}

.block-divider-bottom-margin {
  margin-bottom: 20px;
}

/* -------------------------------------------------- footer */





/* Colors */


* {
  margin: 0;
  padding: 0;
  /*@include box-sizing(border-box); */
}



footer {
  width: 100%;
  display: inline-block;
  margin-top: 2em 0;
  height: 70px;
  background-color: #696969;
  position: absolute;
  
}
.copyright {
    width: 50%;
    float: left;
    /*@media (max-width: 600px) {
      width: 100%; 
    }*/
}

footer p {
      padding-left: 10%;
      color: white;
      font-size: 0.7em;
      line-height: 70px;
      text-transform: capitalize;
      letter-spacing: 1px;
      margin-bottom: 0;
      /*@media (max-width: 600px) {
        text-align: center;
        padding: 0; } */
}

.social {
      width: 50%;
      float: right;
   /* @media (max-width: 600px) {
      width: 100%;
  } */
}
.social a {
      float: left;
      line-height: 70px;
      text-decoration: none;
      color: white;
      text-align: center;
      font-weight: bold; 
      /*@include transition(all, 0.3s);
       &:hover {
         background-color: #222;
         @include transition(all, .3s);
       } */
}


.linked {
  background-color: #2867b2;
  font-size: inherit;
  width: 20%;
}

.face {
  background-color: #3b5998;
  font-size: inherit;
  width: 20%;
}

.tweet {
  background-color: #1da1f2;
  font-size: inherit;
  width: 20%;
  
}

.support {
  background-color: green;
  font-size: 0.8em;
  width: 40%;
}

/* -------------------------------------- Push Transitions */

.push{
    transition: transform 0.5s;
    transform: translate(0px, 160px);
}

pushUp{
  transition: transform 0.5s;
  transform: translate(0px, 0px);
}


@media screen and (max-width: 990px) {
  .navbar-toggler-icon  {
    font-size: 18px;
  }
  .navbar-brand {
    font-size: 28pt;
  }
}

@media screen and (max-width: 700px) {
 .main-image-container {
  width: 90%;
  height: 60vw;
  }
}
