
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


.navbar {
  color: darkblue;
  font-family: "Architects Daughter", sans-serif;
}

body {
  background-image: url("../images/white-paint.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  background-position: center;
}

.main-text {
  padding-top: 50px;
  padding-left: 150px;
  font-size: 50pt;
}

.colour-pick-text {
  text-align: center;
  padding-top: 50px;
}

.main-image-container {
  padding-top: 0;
  width: 75%;
  height: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.colour-dropbox {
  width: 25%;
  margin: 0 auto;
}


/*---------------------------------------------------- Colours */

.azure-blue {
  filter: hue-rotate(180deg);
}

.passion-purple {
  filter: hue-rotate(280deg);
}

.blaze-red {
  filter: hue-rotate(0deg);
}

.jewel-green {
  filter: hue-rotate(120deg);
}

.vivid-pink {
  filter: hue-rotate(320deg);
}

.sunburnt-orange {
  filter: hue-rotate(20deg);
}

.calming-teal {
  filter: hue-rotate(150deg);
}

